<div id="page_wrapper">
    <div id="prfile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
    <div id="content">
        <h1> It's Mr.Stick</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris molestie enim sed purus cursus viverra. Maecenas elementum sodales lectus vitae imperdiet. Vestibulum dictum arcu urna, eu venenatis lacus laoreet quis. Donec mollis nisl venenatis lacus varius hendrerit. Cras at magna eget dolor vulputate tempus ac id risus. Aliquam velit ipsum, imperdiet eget tristique sit amet, molestie id risus. Phasellus vel libero ut enim mollis volutpat vel ac eros. Curabitur iaculis et diam sed mollis. Curabitur auctor, ligula rhoncus eleifend finibus, urna tortor congue diam, et facilisis velit nisl ac neque. Praesent id urna lacus. Maecenas quis nisi auctor, placerat dolor commodo, porta risus. Proin convallis consequat felis, vel rhoncus orci pharetra eget. Fusce pellentesque dapibus iaculis.
        </p>
    </div>
</div>